@model List<SnipCodeAPI.Models.SnippetFile>

<h4>Snippet Files</h4>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Extension</th>
      <th>Code</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var item in Model)
    {
      <tr>
        <th>@Html.DisplayFor(x => item.Id)</th>
        <th>@Html.DisplayFor(x => item.Name)</th>
        <th>@Html.DisplayFor(x => item.Extension)</th>
        <th>@Html.DisplayFor(x => item.Code)</th>
      </tr>
    }
  </tbody>
</table>
