@model List<SnipCodeAPI.Models.User>

<h4>Users</h4>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>CreationTime</th>
      <th>SnippetsCount</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var item in Model)
    {
      <tr>
        <th>@Html.DisplayFor(x => item.Id)</th>
        <th>@Html.DisplayFor(x => item.Email)</th>
        <th>@Html.DisplayFor(x => item.CreationTime)</th>
        <th>@Html.DisplayFor(x => item.Snippets.Count)</th>
      </tr>
    }
  </tbody>
</table>
