*{
  box-sizing: border-box;
}

nav
{
  background-color: #2980B9;
  width: 100%;
  padding: 10px;
  height: 65px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo
{
  text-decoration: none;
  color: white;
}

.btn-new
{
  padding: 15px;
  background: #3498DB;
  outline: none;
  border: none;
  color: white;
  >svg
  {
    height: 10px;
    display: inline-block;
  }
}