*{
  box-sizing: border-box;
}

nav
{
  background-color: #2980B9;
  width: 100%;
  padding: 10px;
  height: 65px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navbar-logo
{
  text-decoration: none;
  color: white;
}

.btn-new
{
  padding: 15px;
  background: #3498DB;
  outline: none;
  border: none;
  color: white;
  >svg
  {
    height: 10px;
    display: inline-block;
  }

  &:hover
  {
    cursor: pointer;
  }
}

@media only screen and (max-width: 430px) {
  nav
  {
    height: 100px;
    flex-direction: column;
    justify-content: space-around;
  }
}