.register-form
{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  *{
    padding: 10px;
    margin: 10px;
  }
}

input
{
  border-radius: 15px;
  height: 20px;
  padding: 10px;
  outline: none;
  border: 1px solid gray;
  margin: 5px;
}

button{
  border-radius: 8px;
  outline: none;
  border: none;
  background: #2980B9;
  color: white;
  padding: 15px;
  margin: 5px;
  height: 50px;
  &:hover
  {
    cursor: pointer;
    background: #2B93D8;
  }
}

@media only screen and (max-width: 300px) {
  .register-form
  {
    justify-content: flex-start;
  }
}