main
{
  display: flex;
  justify-content: flex-start;
}

.profile-details
{
  background: #ECF0F1;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.profile-snippets
{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  table, h2{
    width: 100%;
  }
  h2
  {
    text-align: left;
  }
}

table
{
  border-collapse: collapse;
}

tbody tr
{
  border-top: 2px solid gray;
  td
  {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

th
{
  padding-top: 10px;
  padding-bottom: 10px;
}