main
{
  display: flex;
  justify-content: flex-start;

  height: calc(100% - 120px);
  position: absolute;
  width: 100%;
}

button
{
  background: none;
  outline: none;
  border: none;
}

button:hover
{
  cursor: pointer;
}

.profile-details
{
  background: #ECF0F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

.profile-snippets
{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  table, h2{
    width: 100%;
  }
  h2
  {
    text-align: left;
  }
}

table
{
  border-collapse: collapse;
}

tbody tr
{
  border-top: 2px solid gray;
  td
  {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

th
{
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-open, .icon-delete, .icon-share
{
  width: 30px;
  path
  {
    fill: gray;
  }
}

.icon-account
{
  width: 50%;
}

.btn-email, .btn-password
{
  padding: 10px;
  background: gray;
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
}

.btn-email:hover, .btn-password:hover
{
  cursor: pointer;
}