main
{
  background: #34495E;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-frame
{
  max-width: 80%;
  min-width: 40%;
  border-radius: 20px;
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;

  >div{
    display: flex;
    flex-direction: column;
  }
}

input
{
  border-radius: 15px;
  height: 20px;
  padding: 10px;
  outline: none;
  border: 1px solid gray;
  margin: 5px;
}

button{
  border-radius: 8px;
  outline: none;
  border: none;
  background: #2980B9;
  color: white;
  padding: 15px;
  margin: 5px;
  height: 50px;
  &:hover
  {
    cursor: pointer;
    background: #2B93D8;
  }
}