*{
  box-sizing: border-box;
}

footer
{
  background-color: #2980B9;
  width: 100%;
  padding: 10px;
  height: 55px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  bottom: 0;
}

.icon-github, .icon-account, .icon-logout
{
  width: 40px;
  margin: 5px;
  path
  {
    fill: white;
  }
}

button
{
  background: none;
  outline: none;
  padding: 0;
  border: none;
}

.icon-account:hover, .icon-logout:hover
{
  cursor: pointer;

}

.btn-group
{
  display: flex;
}